version: '3.8'
services:
    time_manager:
        build: 
            context: .
            dockerfile: Dockerfile.prod
            cache_from:
              - "${WEB_IMAGE}"
        image: "${WEB_IMAGE}"
        command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
        volumes:
            - static_volume:/usr/src/time_manager/staticfiles
        expose:
            - 8000
        env_file: .env
        depends_on:
            - postgres

    postgres:
        image: postgres:12.3-alpine
        volumes:
            - postgres_data:/var/lib/postgresql/data
        env_file: .env.db
    nginx:
        build: 
          context: ./nginx
          cache_from:
            - "${NGINX_IMAGE}"
        image: "${NGINX_IMAGE}"
        volumes:
            - static_volume:/usr/src/time_manager/staticfiles
        ports:
            - 1337:80
        depends_on:
            - time_manager
volumes:
    postgres_data:
    static_volume:
