{% load static %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form action = "{% url 'test' %}" method="post" name="activity">
            <p id="Clock">test</p>
            {% csrf_token %}
            <input type="hidden" id="status" name="status" value="">
            <button type="button" id="awake" name="awake">起床</button>
            <button type="button" id="sleep" name="sleep">就寝</button>
        </form>
        
    </body>
    <script src="{% static 'js/getNow.js' %}"></script>
    <script>
        setInterval(getNow,1000);
        //console.log(getNow)
        document.getElementById("awake").onclick = function() {
            
            document.getElementById("status").value = getNow();
            document.activity.submit()
        }
    </script>
</html>

