{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
        google.charts.load('current', {'packages':['timeline']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn({ type: 'string', id: 'Task' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });
           
            dataTable.addRows([  
            {% for activity in today_activity %}        
                ["{{activity.task}}",new Date("{{ activity.begin_time.isoformat }}"), new Date("{{ activity.end_time.isoformat }}")],          
            {% endfor %}       
            ]);
            chart.draw(dataTable);
        }
        </script>
    </head>
    <body>
        <a href="{% url 'register_schedule' %}">スケジュール登録</a>
        <a href="{% url 'activity_log' %}">ログ一覧</a>
        <div id="timeline" style="height: 500px;"></div>
        <p id="Clock"></p>
        <form action = "{% url 'register_activity_record' %}" method="post" name="activity">
            {% csrf_token %}
            <input type="hidden" id="active_exists" name="active_exists" value={{ active_exists }}>
            <input type="hidden" id="activity_id" name="activity_id" value={{ active_id }}>
            <input type="hidden" id="active_type" name="active_type" value="active">
            <input type="hidden" id="task_name" name="task_name" value="active">
            {% if not todays_active_exists or active_exists %}
                <button type="submit" id="punch" name="punch" value={{ active_status }}>{{ active_status }}</button>
            {% else %}
                <button type="submit" id="punch" name="punch" value={{ active_status }} disabled>{{ active_status }}</button>
            {% endif %}
        </form>
        タスク
        <form action = "{% url 'register_activity_record' %}" method="post" name="task">
            {% csrf_token %}
            <input type="hidden" id="active_exists" name="active_exists" value={{ task_exists }}>
            <input type="hidden" id="activity_id" name="activity_id" value={{ task_id }}>
            <input type="text" id="task_name" name="task_name" value={{ task_name }}>
            <input type="hidden" id="active_type" name="active_type" value="task">
            <button type="submit" id="punch" name="punch" value={{ task_status }}>{{ task_status }}</button>
        </form>
        {% if task_exists %}
        MEMO
        <form action = "{% url 'register_activity_record' %}" method="post" name="task">
            {% csrf_token %}
            <input type="hidden" id="activity_id" name="activity_id" value={{ task_id }}>
            <textarea name="memo" cols="100" rows="1">{{ task_memo }}</textarea>
            <input type="submit" id="register_memo" name="register_memo" value="登録">
        </form>
        {% endif %}
        <table border="1">
            <tr>
                <th>タスク名</th>
                <th>開始時間</th>
                <th>終了時間</th>
                <th>活動時間</th>
                <th>メモ</th>
            </tr>
            {% for activity in today_activity %}
            <tr>
            <td>{{activity.task}}</td>
            <td>{{activity.begin_time|date:"H:i:s T"}}</td>
            <td>{{activity.end_time|date:"H:i:s T"}}</td>
            <td>{{activity.format_period}}</td>
            <td>{{activity.memo}}</td>
            {% endfor %}
        </table>
        {% if active_exists %}
        日誌
        <form action = "{% url 'register_activity_record' %}" method="post" name="task">
            {% csrf_token %}
            <input type="hidden" id="activity_id" name="activity_id" value={{ active_id }}>
            <textarea name="memo" cols="100" rows="5">{{ active_memo }}</textarea>
            
            <input type="submit" id="register_memo" name="register_memo" value="登録">
        </form>
        {% endif %}
    </body>
    <script src="{% static 'js/getNow.js' %}"></script>
    <script>
        setInterval(getNow,1000);
        document.getElementById('punch').onclick = function(){
            document.getElementById('punch').setAttribute("disabled",true);
            document.punch.submit();
        }
    </script>
</html>

