{% load static %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p id="Clock"></p>
        <form action = "{% url 'register_active_record' %}" method="post" name="activity">
            {% csrf_token %}
            <input type="hidden" id="active_exists" name="active_exists" value={{ active_exists }}>
            <input type="hidden" id="task_id" name="task_id" value={{ active_id }}>
            <button type="button" id="punch" name="punch">{{ active_status }}</button>
        </form>
        <form action = "{% url 'register_task_record' %}" method="post" name="task">
            {% csrf_token %}
            <input type="hidden" id="task_exists" name="task_exists" value={{ task_exists }}>
            <input type="hidden" id="task_id" name="task_id" value={{ task_id }}>
            <input type="text" id="task_name" name="task_name" value={{ task_name }}>
            <button type="button" id="punch2" name="punch2">{{ task_status }}</button>
        </form>
    </body>
    <script src="{% static 'js/getNow.js' %}"></script>
    <script>
        setInterval(getNow,1000);
        //console.log(getNow)
        document.getElementById("punch").onclick = function() {      
            //document.getElementById("active_status").value = '{{ active_status }}'
            document.activity.submit()
        }
        document.getElementById("punch2").onclick = function() {      
            //document.getElementById("active_status").value = '{{ active_status }}'
            document.task.submit()
        }
    </script>
</html>

