{% load static %}
<!DOCTYPE html>
<html>
    <head>
        
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['timeline']});
          google.charts.setOnLoadCallback(drawChart);
          async function drawChart() {
            var container = await document.getElementById('timeline');
            var chart = await new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Task' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });
           
            dataTable.addRows([  
            {% for activity in today_activity %}
                ["{{activity.task}}",new Date("{{ activity.begin_time.isoformat }}"), new Date("{{ activity.end_time.isoformat }}")], 
            {% endfor %}       
            ]);
            chart.draw(dataTable);
          }
        </script>
    </head>
    <body>
      <div id="timeline" style="height: 500px;"></div>
        <table border="1">
            <tr>
                <th>タスク名</th>
                <th>開始時間</th>
                <th>終了時間</th>
                <th>活動時間</th>
                <th>メモ</th>
            </tr>
            {% for activity in today_activity %}
            <tr>
            <td>{{activity.task}}</td>
            <td>{{activity.begin_time|date:"H:i:s T"}}</td>
            <td>{{activity.end_time|date:"H:i:s T"}}</td>
            <td>{{activity.period}}</td>
            <td>{{activity.memo}}</td>
            {% endfor %}
        </table>
        <a href="{% url 'activity_log' %}">ログ一覧へ</a>
    </body>
</html>

