<a href="{% url 'activity_record' %}">今日の記録へ</a>
<table border="1">
    <tr>
        <th>科目</th>
        <th>復習コード</th>
        <th>概要</th>
        <th>復習予定1</th>
        <th>復習予定2</th>
        <th>復習予定3</th>
        <th>復習予定4</th>
    </tr>
    {% for review in review_list %}
    <tr>
        <td>{{review.subject_id}}</td>
        <td>{{review.review_id}}</td>
        <td>{{review.summary}}</td>
        <td>{{review.tomorrow|date:"m/d"}}</td>
        <td>{{review.one_week_later|date:"m/d"}}</td>
        <td>{{review.two_week_later|date:"m/d"}}</td>
        <td>{{review.one_month_later|date:"m/d"}}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'activity_record' %}">今日の記録へ</a>