<a href="{% url 'activity_record' %}">今日の記録へ</a>
<table border="1">
    <tr>
        <th>日付</th>
        <th>起床時間</th>
        <th>就寝時間</th>
        <th>メモ</th>
        <th>詳細</th>
    </tr>
    {% for active in all_active_logs %}
    <tr>
        <td>{{active.today|date:"Y/m/d"}}</td>
        <td>{{active.begin_time|date:"H:i:s T"}}</td>
        <td>{{active.end_time|date:"H:i:s T"}}</td>
        <td>{{active.memo}}</td>
        <td><a href="{% url 'activity_detail' active.today_jst_str %}">詳細</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'activity_record' %}">今日の記録へ</a>