<form action = "" method="post" name="subject">
    {% csrf_token %}
    <input type="text" id="subject" name="subject" value={{ subject }}>
    <input type="submit" id="send_subject" name="send_subject" value="送信">
</form>
<table border="1">
    <tr>
        <th>科目</th>
        <th>日付</th>
        <th>開始時間</th>
        <th>終了時間</th>
        <th>メモ</th>
        <th>詳細</th>
    </tr>
    {% for subject in subject_logs %}
    <tr>
        <td>{{subject.task}}</td>
        <td>{{subject.today|date:"Y/m/d"}}</td>
        <td>{{subject.begin_time|date:"H:i:s T"}}</td>
        <td>{{subject.end_time|date:"H:i:s T"}}</td>
        <td>{{subject.memo}}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'activity_record' %}">今日の記録へ</a>