name: Contanuous Integration and Delivery

on: 
  push
    branches:
      - master

env:
  WEB_IMAGE: docker.pkg.github.com/$GITHUB_REPOSITORY/web
  NGINX_IMAGE: docker.pkg.github.com/$GITHUB_REPOSITORY/nginx
jobs:
  build:
    name: Build Docker Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v1
      - name: Add environment variables to .env.prod
        run: |
          echo DEBUG=0 >> .env.prod
          echo DATABASE_ENGINE=django.db.backends.postgresql >> .env.prod
          echo DATABASE=postgres >> .env.prod
          echo SECRET_KEY="${{ secrets.SECRET_KEY }}" >> .env.prod
          echo DATABASE_DB=${{ secrets.DATABASE_DB}} >> .env.prod
          echo DATABASE_USER=${{ secrets.DATABASE_USER}} >> .env.prod
          echo DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }} >> .env.prod
          echo DATABASE_HOST=${{ secrets.DATABASE_HOST }} >> .env.prod
          echo DATABASE_PORT=${{ secrets.DATABASE_PORT}} >> .env.prod
      - name: Add environment variables to .env.prod.db
        run: |
          echo POSTGRES_USER=${{ secrets.DATABASE_USER}} >> .env.prod.db
          echo POSTGRES_PASSWORD=${{ secrets.DATABASE_PASSWORD}} >> .env.prod.db
          echo POSTGRES_DB=${{ secrets.DATABASE_DB }} >> .env.prod.db
      - name: Set environment variable
        run: |
          echo ::set-env name=WEB_IMAGE::${{ env.WEB_IMAGE }}
          echo ::set-env name=NGINX_IMAGE::${{ env.NGINX_IMAGE }}
      - name: Log in to Github packages
        run: echo ${GITHUB_TOKEN} | docker login -u ${GITHUB_ACTOR} --password-stdin docker.pkg.github.com
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: pull images
        run: |
          docker pull ${{ env.WEB_IMAGE }} || true
          docker pull ${{ env.NGINX_IMAGE }} || true
      - name: build images
        run: |
          docker-compose -f docker-compose.ci.yml build
      - name: push images
        run: |
          docker push ${{ env.WEB_IMAGE }}
          docker push ${{ env.NGINX_IMAGE }}

  deploy:
    name: Deploy to sakura vps
    runs-on: ubuntu-latest
    needs: build
    steps:
       - name: Checkout master
         uses: actions/checkout@v1
       - name: Add environment variables to .env.prod
         run: |
           echo DEBUG=0 >> .env.prod
           echo DATABASE_ENGINE=django.db.backends.postgresql >> .env.prod
           echo DATABASE=postgres >> .env.prod
           echo SECRET_KEY="${{ secrets.SECRET_KEY }}" >> .env.prod
           echo DATABASE_DB=${{ secrets.DATABASE_DB}} >> .env.prod
           echo DATABASE_USER=${{ secrets.DATABASE_USER}} >> .env.prod
           echo DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }} >> .env.prod
           echo DATABASE_HOST=${{ secrets.DATABASE_HOST }} >> .env.prod
           echo DATABASE_PORT=${{ secrets.DATABASE_PORT}} >> .env.prod
       - name: Add environment variables to .env.prod.db
         run: |
           echo POSTGRES_USER=${{ secrets.DATABASE_USER}} >> .env.prod.db
           echo POSTGRES_PASSWORD=${{ secrets.DATABASE_PASSWORD}} >> .env.prod.db
           echo POSTGRES_DB=${{ secrets.DATABASE_DB }} >> .env.prod.db
       - name: Add the private ssh key to the ssh-agent
         env:
           SSH_AUTH_SOCK: /tmp/ssh_agent.sock
         run: |
           mkdir -p ~/.ssh
           ssh-agent -a $SSH_AUTH_SOCK > /dev/null
           ssh-keyscan github.com >> ~/.ssh/known_hosts
           ssh-add - <<< ${{ secrets.PRIVATE_KEY }}
       - name: Build and deploy images on sakura vps
         env:
           SSH_AUTH_SOCK: /tmp/ssh_agent.sock
         run: |
           scp -o StrictHostKeyChecking=no -r  ./.env.prod ./.env.prod.db ./docker-compose.prod.yml ./Dockerfile.prod ./Pipfile entrypoint.prod.sh nao@${{ secrets.SAKURA_VPS_IP_ADDRESS }}:/time_manager
           ssh -o StrictHostKeyChecking=no nao@${{ secrets.SAKURA_VPS_IP_ADDRESS}} << 'ENDSSH'
           cd /time_manager
           
           docker login docker.pkg.github.com -u nao -p ${{ secrets.GITHUB_ACTIONS_TOKEN }} 
           docker pull $WEB_IMAGE
           docker pull $NGINX_IMAGE
           docker-compose -f docker-compose.prod.yml up -d
          
           ENDSSH
